:root {
	--button-diameter: 5rem;
	--reach: calc(var(--button-diameter) * 6);
	--padding: 0px;
}
body {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	display: flex;
	flex-flow: column nowrap;
}
button:focus {
	outline: none;
}

#display {
	display: block;
	font-size: 20px;
	background-color: #eee;
	margin: 0px;
	text-align: center;
}
#input {
	flex: 1;
	box-sizing: border-box;
	width: 100%;
	height: auto;
	padding: 20px;

	display: flex;
	flex-direction: row;
	align-items: flex-end;
	align-content: stretch;
	justify-content: space-between;
}
#left, #right {
	flex: 1 auto;
	max-width: var(--reach);
	box-sizing: border-box;
	height: min(100%, var(--reach));

	display: flex;
	align-items: flex-end;
	align-content: stretch;
	justify-content: space-between;
} #left {
	background-color: #dfd;
	flex-direction: row;
} #right {
	background-color: #fdd;
	flex-direction: row-reverse;
}

.cluster {
	transform: rotate(45deg);
} .cluster.of-2 {
	margin-bottom: calc( var(--button-diameter) / 2); */
} .cluster.of-3 {
	transform: initial;
} .cluster.of-4 {
	margin-bottom: calc( var(--button-diameter) / 4);
	margin-right: calc( var(--button-diameter) / 4); */
}
.cluster button {
	transform: rotate(-45deg);
	box-sizing: border-box;
	padding: 0px;
	width: var(--button-diameter);
	height: var(--button-diameter);
	font-size:  calc(var(--button-diameter) / 1.5);
	border-radius: calc(var(--button-diameter) / 2);
	border: 2px solid;
	border-bottom: 5px solid;
} .cluster.of-3 button {
	transform: initial;
} .cluster button:active{
	border: 2px solid;
}
/* xbox layout */
#east { --color: #ff5640; }
#east::after { content: "B"; }

#north { --color: #f9ff3d; }
#north::after { content: "Y"; }

#west { --color: #3da1ff; }
#west::after { content: "X"; }

#south { --color: #53ff40; }
#south::after { content: "A"; }

/* playstation layout
#east { --color: #ff6a45; }
#east::after { content: "○"; }

#north { --color: #2ee885; }
#north::after { content: "△"; }

#west { --color: #ff6e83; }
#west::after { content: "□"; }

#south { --color: #6eb7ff; }
#south::after { content: "⨉"; }
 */
/* dark theme
#east, #north, #west, #south {
	background: transparent;
	color: var(--color);
	border-color: var(--color);
} */
/* light theme */
#east, #north, #west, #south {
	background-color: var(--color);
}
