:root {
	--reach: 80mm;
	--button-diameter: 10mm;
	--padding: 40px;
}
body {
	padding: 0px;
	margin: 0px;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	overflow: hidden;
}

#display {
	display: block;
	width: 100%;
	background-color: #eee;
	margin: 0px;
	text-align: center;
}
#input {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}
#left, #right{
	position: absolute;
	bottom: var(--padding);
	width: min(50%, 80mm);
	height: min(100%, 80mm);
	padding: inherit;
}
#left {
	left: var(--padding);
	background-color: #dfd;
}
#right {
	right: var(--padding);
	background-color: #fdd;
}

.cluster {
	position: absolute;
	bottom: 0;
	left: inherit;
	right: inherit;
	width: 70%;
	height: 0px;
	padding-bottom: 70%;
	background-color: #aaa;
} .cluster button {
	width: var(--button-diameter);
	height: var(--button-diameter);
	border-radius: calc(var(--button-diameter) / 2);
}
