:root {
	--reach: 400px;
	--button-diameter: 50px;
	--padding: 0px;
}
body {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
}
#display {
	background-color: #eee;
	margin: 0px;
	text-align: center;
}
#input {
	box-sizing: border-box;
	width: 100%;
	height: auto;
	padding: 20px;
}
#left, #right{
	width: min(50%, var(--reach));
	height: min(100%, var(--reach));
	padding: inherit;
}
#left {
	float: left;
	background-color: #dfd;
}
#right {
	float: right;
	background-color: #fdd;
}

.cluster {
	width: 70%;
	height: 0px;
	padding-bottom: 70%;
	background-color: #aaa;
} .cluster button {
	width: var(--button-diameter);
	height: var(--button-diameter);
	border-radius: calc(var(--button-diameter) / 2);
}
