.dark-mode {
	background: black;
	color: var(--light);
}

.dark-mode button {
	background: transparent;
	--color: var(--base);
}
.dark-mode button.active {
	background: transparent;
	--color: var(--light);
}

.dark-mode img {
	filter: invert();
}
