#gp-east { --color: #ff6a45; }
#gp-east::after { content: "○"; }

#gp-north { --color: #2ee885; }
#gp-north::after { content: "△"; }

#gp-west { --color: #ff6e83; }
#gp-west::after { content: "□"; }

#gp-south { --color: #6eb7ff; }
#gp-south::after { content: "⨉"; }

