.bottom-nav {
	position: fixed;
	bottom: 0;
	z-index: 2;
	margin: 0;
	width: 100%;
}
.settings-menu{
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
}
.slider{
	-webkit-appearance: none; 
	background: #d3d3d3;
	width: 100%;
	outline: none;
	appearance: none;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: calc(var(--button-diameter)/2.5);
  height: calc(var(--button-diameter)/2.5);
  background: #2196F3;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: calc(var(--button-diameter)/2.5);
  height: calc(var(--button-diameter)/2.5);
  background:  #2196F3;
  cursor: pointer;
}.switch{
	margin: 10px;
	position: relative;
	display: inline-block;
	width: calc(var(--slider-diameter)*2);
	height: var(--slider-diameter);
} .switch input{
	opacity: 0;
	width: 0;
	height: 0;
}

